<!doctype html>
<html class="no-js" lang="en">
	{% if page %}
		{% set content = page %}
	{% elif section %}
		{% set content = section %}
	{% else %}
		{{ throw(message = "not a page or a section") }}
	{% endif %}
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>{% block title %}{{ content.title }} - {{ config.title }}{% endblock %}</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<!-- Place favicon.ico in the root directory -->
		<link rel="stylesheet" href="/styles.css">
		<link rel="canonical" href="https://auwiki.duikbo.at{{ current_path }}">
	</head>
	<body class="flex flex-col h-screen bg-gray-100">
		<!--[if lt IE 12]>
			<p class="browserupgrade">
			You are using an <strong>outdated</strong> browser. Please
			<a href="http://browsehappy.com/">upgrade your browser</a> to improve
			your experience.
			</p>
		<![endif]-->

		<div class="grow block">
			{# Header #}
			<header class="sticky top-0 w-full mx-auto bg-yellow-400 h-10 flex flex-row items-center z-10">
				<div class="flex-none pl-4 font-bold">
					<a href="/">AUWiki</a>
				</div>
				{% for entry in config.extra.top_menu %}
				<div class="flex-none pl-6">
					<a href="{{ entry.url }}">{{ entry.name }}</a>
				</div>
				{% endfor %}
			</header>

			{# Page content, possibly including a sidebar #}
			<div class="container mx-auto">
				{% block content %}
				{% endblock %}
			</div>

		</div>



		<footer class="bg-gray-100 px-2 py-2">
			 This site is not affiliated with Among Us or Innersloth LLC, and the content contained therein is not endorsed or otherwise sponsored by Innersloth LLC. Portions of the materials contained herein are property of Innersloth LLC. © Innersloth LLC.
		</footer>
	</body>
</html>
