<!doctype html>
<html class="no-js" lang="en">
	{% if page %}
		{% set content = page %}
	{% elif section %}
		{% set content = section %}
	{% else %}
		{{ throw(message = "not a page or a section") }}
	{% endif %}
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>{% block title %}{{ content.title }} - {{ config.title }}{% endblock %}</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/styles.css">
		<link rel="canonical" href="https://auwiki.duikbo.at{{ current_path }}">

		{# Favicons #}
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#facc15">
		<meta name="apple-mobile-web-app-title" content="AuWiki">
		<meta name="application-name" content="AuWiki">
		<meta name="msapplication-TileColor" content="#ffc40d">
		<meta name="theme-color" content="#facc15">
	</head>
	<body class="flex flex-col h-screen bg-gray-100 dark:bg-slate-900">
		<!--[if lt IE 12]>
			<p class="browserupgrade">
			You are using an <strong>outdated</strong> browser. Please
			<a href="http://browsehappy.com/">upgrade your browser</a> to improve
			your experience.
			</p>
		<![endif]-->

		<div class="flex flex-col grow block dark:text-slate-50">
			{# Header #}
			<header class="sticky top-0 w-full mx-auto bg-yellow-400 dark:bg-slate-700 dark:border-yellow-600 dark:border-b-2 h-10 flex flex-row items-center z-10">
				<div class="flex-none pl-8">
					<a href="/"><img class="object-contain h-10 inline" src="/logo.png"></a>
				</div>
				<div class="flex-none pl-4 font-bold">
					<a href="/">AUWiki</a>
				</div>
				{% for entry in config.extra.top_menu %}
				<div class="flex-none pl-6">
					<a href="{{ entry.url }}">{{ entry.name }}</a>
				</div>
				{% endfor %}
				<div class="flex-1"></div>
				<div class="pr-4">
					<input type="search" id="search" placeholder="Search the wiki..." class="px-2 py-1 dark:bg-slate-900">
					<div id="search-results" class="absolute bg-gray-100 dark:bg-slate-800 border px-1 py-1 w-1/3 right-0 hidden drop-shadow-lg">
						<ul id="search-results-items">
						</ul>
					</div>
				</div>
			</header>

			{# Page content, possibly including a sidebar #}
			<div class="flex grow block container mx-auto">
				{% block content %}
				{% endblock %}
			</div>

		</div>



		<footer class="bg-gray-100 dark:bg-slate-800 dark:text-slate-50 px-2 py-2">
			This site is not affiliated with Among Us or Innersloth LLC, and the content contained therein is not endorsed or otherwise sponsored by Innersloth LLC. Portions of the materials contained herein are property of Innersloth LLC. © Innersloth LLC.
		</footer>
		<script data-goatcounter="https://stats.duikbo.at/count"
			async src="https://stats.duikbo.at/count.js"></script>
		<noscript>
			<img src="https://stats.duikbo.at/count?p={{ current_path }}">
		</noscript>
		<script defer src="/elasticlunr.min.js"></script>
		<script defer src="/search_index.en.js"></script>
		<script defer src="/search.js"></script>

	</body>
</html>
