{% macro menubar(base, current_path) %}
    {% for subsection_path in base.subsections %}
    {% set subsection = get_section(path=subsection_path) %}
    <details open>
        <summary><a href="{{ subsection.path }}" class="{% if subsection.path == current_path %}font-bold{% endif %}">{{ subsection.title }}</a></summary>

        <ul class="pl-6">
            {% for page in subsection.pages %}
            <li><a class="{% if page.path == current_path %}font-bold{% endif %}" href="{{ page.path }}">{{ page.title }}</a></li>
            {% endfor %}
			{% for subsubsection_path in subsection.subsections %}
			{{ self::menubar(base = subsubsection_path, current = current) }}
			{% endfor %}
        </ul>
    </details>
    {% endfor %}
{% endmacro menubar %}
