{% macro menubar(base) %}
    <!--span>{{base.title}}</span-->


    {% for subsection_path in base.subsections %}
    {% set subsection = get_section(path=subsection_path) %}
    <details open>
        <summary><a href="{{ subsection.permalink }}">{{ subsection.title }}</a></summary>

        <ul>
            {% for page in subsection.pages %}
            <li><a class="secondary" href="{{ page.permalink }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
    </details>
    {% endfor %}
{% endmacro menubar %}
