{% extends 'base-with-sidebar.html' %}

{% block sidebar_top %}
{% if page.toc | length > 0 %}
On this page:
<ul class="pb-5 pl-6">
	{% for header in page.toc %}
	<li><a href="#{{ header.id }}">{{ header.title }}</a></li>
	{% endfor %}
</ul>
<hr class="pb-4 text-gray-400"/>
{% endif %}
{% endblock %}

{% block header %}

{% if page.lighter or page.heavier %}
{{ macros::nextprev(page=page) }}
{% endif %}

<h1 class="text-4xl pb-5 font-semibold">{{ page.title }}</h1>
{% endblock %}

{% block inner_content %}
<article class="prose prose-blue dark:prose-invert dark:prose-yellow">
	{{ page.content | safe }}
</article>
{% endblock %}

{% block footer %}
{% if page.lighter or page.heavier %}
<div class="py-6 my-3 max-w-[100ch] border-b-2"></div>
{{ macros::nextprev(page = page) }}
{% endif %}
{% endblock %}
