{% extends 'base-with-sidebar.html' %}

{% block inner_content %}
<div class="flex items-center ph1">
	{% for parent_path in section.ancestors %}
	{% if loop.index == 1 %}{% continue %}{% endif %}
	{% set parent = get_section(path = parent_path) %}
	<a href="{{ parent.permalink }}">{{ parent.title }}</a>
	<span class="ph1"> > </span>
	{% endfor %}
	<h1 class="text-4xl pb-5 font-semibold">{{ section.title }}</h1>
</div>
<article class="prose prose-blue">
	{{ section.content | safe }}
</article>

<div>
	{% for section_name in section.subsections %}
	{% set section = get_section(path = section_name) %}
	<section>
		<a href="{{ section.permalink }}">
			<h2>{{ section.title }}</h2>
		</a>
		<p>{{ section.description }}</p>
		<a href="{{ section.permalink }}" class="pa2 link">
			Read more
		</a>
	</section>
	{% endfor %}
</div>
{% endblock %}
