{% extends 'base-with-sidebar.html' %}
{% import "macros.html" as macros %}

{% block header %}
<h1 class="text-4xl pb-5 font-semibold">{{ section.title }}</h1>
{% endblock %}

{% block inner_content %}
<article class="prose prose-blue">
	{{ section.content | safe }}
</article>

<div>
	{#% for section_name in section.subsections %}
	{% set section = get_section(path = section_name) %}
	<section>
		<a href="{{ section.permalink }}">
			<h2>{{ section.title }}</h2>
		</a>
		<p>{{ section.description }}</p>
		<a href="{{ section.permalink }}" class="pa2 link">
			Read more
		</a>
	</section>
	{% endfor %#}

	<div class="flex flex-wrap mb-4">
		{% for page in section.pages %}
		<div class="w-1/4">
			<a href="{{ page.path }}">
				<div class="m-1 px-3 py-3 bg-gray-200">
					<div class="text-xl">{{ macros::tagged_title(page = page) }}</div>
					{% if page.summary %}
					{{ page.summary | safe }}
					{% endif %}
				</div>
			</a>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
